.swiper_container {
    height: 30rem;
    padding: 1rem 0;
    position: relative;
}

.swiper-slide {
    width: 20rem;
    height: 20rem;
    position: relative;
}

@media (max-width: 500px) {
    .swiper_container {
        height: 20rem;
    }

    .swiper-slide {
        width: 8rem !important;
        height: 36rem !important;
    }

    .swiper-slide img {
        width: 8rem !important;
        height: 15rem !important;
    }
}

.swiper-slide img {
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px DC9407);
}

.slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #dc9407;
}

.slider-controler .slider-arrow::after {
    content: "";
}

.swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
}

.swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px DC9407);
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
}

.AnyClassForContainer {
    position: fixed;
    right: -100px;
    bottom: 150px;
    transition: right 0.5s;
    cursor: pointer;
    background-color: white;
    font-size: 20px;
    padding: 10px;
}

.AnyClassForTransition {
    right: 20px;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

.containerTab {
    display: flex;
    align-items: center;
    justify-content: center;
}
.tabsButton {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
    padding: 0.75rem;

    * {
        z-index: 2;
    }
}

input[type="radio"] {
    display: none;
}

.tabButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;

    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    z-index: 3;
}

input[type="radio"] {
    &:checked {
        & + label {
            color: white;
        }
    }
}

input[id="radio-1"] {
    &:checked {
        & ~ .gliderTabButton {
            transform: translateX(0);
        }
    }
}

input[id="radio-2"] {
    &:checked {
        & ~ .gliderTabButton {
            transform: translateX(100%);
        }
    }
}

.gliderTabButton {
    position: absolute;
    display: flex;
    height: 54px;
    background-color: red;
    z-index: 1;

    transition: 0.25s ease-out;
}

@media (max-width: 700px) {
    .tabs {
        transform: scale(0.6);
    }
}
